<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/image.png') }}">
</head>

<body>

    <header>
    <h1><a href="/" style="text-decoration: none;">EPISTIMIA</a></h1>

        <div style="position: relative;">
            <form action="/buscar" method="get" autocomplete="off">
                <input type="text" id="searchInput" name="q" placeholder="Buscar..." required>
                <button type="submit">🔍</button>
            </form>

            <!-- SUGERENCIAS -->
            <div id="suggestions"></div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <meta id="articulos-data" data-articulos='{{ data | tojson }}'>

    <script>
        // 2. Lee los datos del elemento HTML y conviértelos a un objeto de JavaScript
        const dataString = document.getElementById('articulos-data').dataset.articulos;
        const articulos = JSON.parse(dataString);
    </script>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>